html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
}

/* STRUCTURE PRINCIPALE */
#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
    width: 100%;
    max-width: none;
    margin: 0 ;
    padding: 20px 60px;
}

/* FOOTER EN BAS */
footer {
    margin-top: auto;
    text-align: center;
    padding: 20px;
    background: #111827;
}